﻿@model Dictionary<string, string>

@{
    ViewBag.Title = "Redis Info";
}

<h1 class="text-primary">Redis Info</h1>
@Html.ActionLink("Flush Cache", "Flush", "Home", null, new {@class = "btn btn-success"})

<table class="table">
    <tr>
        <th>Statistic</th>
        <th>Value</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Key</td>
            <td>@item.Value</td>
        </tr>
    }
</table>